In [51]:
import pandas as pd
import numpy as np

data = pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding='latin-1')

Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the 7th lowest sum in 2017?

In [52]:
q1 = data[['Y2017','Area']].groupby('Area').sum()
print(q1.sort_values(by='Y2017').iloc[6])

Y2017    19102.77
Name: Guinea-Bissau, dtype: float64

What is the mean and standard deviation across the whole dataset for the year 2017 to 2 decimal places?

In [53]:
q2 = data['Y2017'].mean()
q2a = data['Y2017'].std()
print(round(q2, 2))
print(round(q2a, 2))

140.92
1671.86

#If you have the following list
lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]
col = [‘Age’,’Nationality’,’Overall’]
How do you create a pandas DataFrame using this list, to look like the table below?

In [54]:
lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]
col = ['Age','Nationality','overall']
pd1 = pd.DataFrame(lst,columns=col, index=[1,2,3])
print(pd1)

   Age Nationality  overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

Perform a groupby operation on ‘Element’.  What year has the highest sum of Stock Variation?

In [55]:
q5 = data.groupby('Element').sum().loc['Stock Variation'].loc['Y2014':]
print(q5.sort_values(ascending=False).head(1))

Y2014    58749.83
Name: Stock Variation, dtype: object

Perform a groupby operation on ‘Element’.  What is the total number of the sum of Processing in 2017?

In [56]:
q6 = data.groupby('Element').sum().loc['Processing']['Y2017']
print(q6)

292836.0

Given the following numpy array
array  = ([[94, 89, 63],
              [93, 92, 48],
              [92, 94, 56]])
How would you select  the elements in bold and italics from the array?

In [57]:
array  = ([[94, 89, 63],
           [93, 92, 48],
           [92, 94, 56]])
a = np.array(array)
print(a[:2,1:])

[[89 63]
 [92 48]]

Consider the following list of tuples:
y = [(2, 4), (7, 8), (1, 5, 9)]
How would you assign element 8 from the list to a variable x?

In [58]:
y = [(2, 4), (7, 8), (1, 5, 9)]
print(y[1][1])

8

How would you check for the number of rows and columns in a pandas DataFrame named df?

In [59]:
print(data.shape)

(60943, 12)

Which of the following dataframe methods can be used to access elements across rows and columns?

In [60]:
print(data.iloc[:])

       Area Code      Area  Item Code           Item  Element Code  \
0              4   Algeria       2501     Population           511
1              4   Algeria       2501     Population          5301
2              4   Algeria       2901    Grand Total           664
3              4   Algeria       2901    Grand Total           674
4              4   Algeria       2901    Grand Total           684
...          ...       ...        ...            ...           ...
60938        181  Zimbabwe       2899  Miscellaneous          5142
60939        181  Zimbabwe       2899  Miscellaneous           645
60940        181  Zimbabwe       2899  Miscellaneous           664
60941        181  Zimbabwe       2899  Miscellaneous           674
60942        181  Zimbabwe       2899  Miscellaneous           684

                                      Element             Unit     Y2014  \
0               Total Population - Both sexes     1000 persons  38924.00
1                    Domestic supply quantity      1000 tonnes      0.00
2               Food supply (kcal/capita/day)  kcal/capita/day   3377.00
3      Protein supply quantity (g/capita/day)     g/capita/day     94.90
4          Fat supply quantity (g/capita/day)     g/capita/day     80.06
...                                       ...              ...       ...
60938                                    Food      1000 tonnes     42.00
60939     Food supply quantity (kg/capita/yr)               kg      3.06
60940           Food supply (kcal/capita/day)  kcal/capita/day      3.00
60941  Protein supply quantity (g/capita/day)     g/capita/day      0.10
60942      Fat supply quantity (g/capita/day)     g/capita/day      0.04

          Y2015     Y2016     Y2017     Y2018
0      39728.00  40551.00  41389.00  42228.00
1          0.00      0.00      0.00      0.00
2       3379.00   3372.00   3341.00   3322.00
3         94.35     94.72     92.82     91.83
4         79.36     77.40     80.19     77.28
...         ...       ...       ...       ...
60938     46.00     33.00     19.00     16.00
60939      3.33      2.35      1.33      1.08
60940      4.00      3.00      1.00      1.00
60941      0.11      0.08      0.04      0.04
60942      0.05      0.03      0.02      0.01

[60943 rows x 12 columns]

What is the total number and percentage of missing data in 2014 to 3 decimal places?

In [61]:
print(data['Y2014'].isna().sum())
percent = (data['Y2014'].isna().sum()/len(data)) * 100
print(round(percent, 3))

1589
2.607

Which year had the least correlation with ‘Element Code’?

In [62]:
b = data[['Element Code', 'Y2014', 'Y2015', 'Y2016', 'Y2017']].corr()
print(b['Element Code'].sort_values().head(1))

Y2016    0.023444
Name: Element Code, dtype: float64

Answer the following questions based on the African food production dataset provided by the FAO website already provided
What is the total sum of Wine produced in 2015 and 2018 respectively?
Hint:
Perform a groupby sum aggregation on ‘Item’

In [63]:
c = data.groupby('Item').sum().loc['Wine']
print(c['Y2015'])
print(c['Y2018'])

4251.81
4039.32

What is the total number of unique countries in the dataset?

In [64]:
print(data.groupby('Area').sum().count())

Area Code       49
Item Code       49
Item            49
Element Code    49
Element         49
Unit            49
Y2014           49
Y2015           49
Y2016           49
Y2017           49
Y2018           49
dtype: int64

What is the total Protein supply quantity in Madagascar in 2015?

In [65]:
data.groupby(['Element','Area']).sum().loc['Protein supply quantity (g/capita/day)']['Y2015']

Area
Algeria                        377.37
Angola                         214.15
Benin                          271.97
Botswana                       278.52
Burkina Faso                   317.99
Cabo Verde                     278.41
Cameroon                       291.53
Central African Republic       173.70
Chad                           252.28
Congo                          227.08
Côte d'Ivoire                  232.59
Djibouti                       269.59
Egypt                          394.87
Eswatini                       237.71
Ethiopia                       259.82
Gabon                          345.41
Gambia                         257.67
Ghana                          241.71
Guinea                         227.46
Guinea-Bissau                  168.61
Kenya                          251.73
Lesotho                        254.50
Liberia                        159.43
Madagascar                     173.05
Malawi                         272.49
Mali                           319.85
Mauritania                     329.77
Mauritius                      348.06
Morocco                        398.74
Mozambique                     178.39
Namibia                        253.89
Niger                          316.78
Nigeria                        230.08
Rwanda                         238.70
Sao Tome and Principe          211.04
Senegal                        237.77
Sierra Leone                   203.57
South Africa                   345.95
Sudan                          295.08
Togo                           231.59
Tunisia                        401.32
Uganda                         201.20
United Republic of Tanzania    246.35
Zambia                         240.87
Zimbabwe                       175.31
Name: Y2015, dtype: float64

What would be the output for?
S = [['him', 'sell'], [90, 28, 43]]
S[0][1][1]

In [66]:
S = [['him', 'sell'], [90, 28, 43]]
print(S[0][1][1])

e

Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the highest sum in 2017?

In [67]:
b = data[['Y2017', 'Area']].groupby('Area').sum()
print(b.sort_values(by='Y2017', ascending=False).head(1))

              Y2017
Area
Nigeria  1483268.23